body {
    background-color: #121212;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Monument Extended';
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

*{
    color: #EEEEEE;
}
.grain {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-event: none;
    z-index: 300;
    transform: translateZ(0);
    
}

.grain:before {
    content: "";
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    z-index: 9999;
    position: fixed;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    opacity: 0.15;
    pointer-events: none;
    -webkit-animation: noise 1s steps(2) infinite;
    animation: noise 1s steps(2) infinite;
}


@-webkit-keyframes noise {
    to { transform: translate3d(-7rem,0,0) }
}

@keyframes noise {
    0% { transform: translate3d(0,9rem,0) }
    10% { transform: translate3d(-1rem,-4rem,0) }
    20% { transform: translate3d(-8rem,2rem,0) }
    30% { transform: translate3d(9rem,-9rem,0) }
    40% { transform: translate3d(-2rem,7rem,0) }
    50% { transform: translate3d(-9rem,-4rem,0) }
    60% { transform: translate3d(2rem,6rem,0) }
    70% { transform: translate3d(7rem,-8rem,0) }
    80% { transform: translate3d(-9rem,1rem,0) }
    90% { transform: translate3d(6rem,-5rem,0) }
    to { transform: translate3d(-7rem,0,0) }
}

h1{
    font-size: 5rem;
    text-align: center;
}

#inputs {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    margin-bottom: 1rem;
    background: none;
    border: #EEEEEE 1px solid;
    border-radius: 5px;
    width: 18vw;

    z-index: 1000;

    text-align: center;
}

label {
    overflow: hidden;
}

button{
    background: none;
    border: #EEEEEE 1px solid;
    border-radius: 5px;
    width: 20vw;

    z-index: 1000;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    input {
        width: 78vw;
    }

    button {
        width: 80vw;
    }
}